<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="internet technology, INTUITIVE">
        <meta name="description" content="">
        <title>Recommendation</title>
        <link rel="stylesheet" type="text/css" href="css/nicepage.css" media="screen">
        <link rel="stylesheet" type="text/css" href="css/Leaderboard.css" media="screen">
        <script class="u-script" type="text/javascript" src="jquery.js""="" defer=""></script>
    <script class=" u-script " type=" text/javascript " src=" nicepage.js" "="" defer=""></script>
        <meta name="generator" content="Nicepage 4.17.10, nicepage.com">
        <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
        <script type="application/ld+json">
            {
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Latest"
}
        </script>
        <meta name="theme-color" content="#478ac9">
        <meta property="og:title" content="Leaderboard">
        <meta property="og:description" content="">
        <meta property="og:type" content="website">
    </head>
    <body class="u-body u-xl-mode" data-lang="en">
        <header class="u-align-center-sm u-align-center-xs u-clearfix u-header u-palette-1-light-3 u-header" id="sec-73df">
            <div class="u-clearfix u-sheet u-sheet-1">
                <nav class="u-align-left u-menu u-menu-dropdown u-offcanvas u-menu-1">
                    <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
                        <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8a8f"></use>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-8a8f" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content">
                                <g>
                                    <rect y="36" width="302" height="30"></rect>
                                    <rect y="236" width="302" height="30"></rect>
                                    <rect y="136" width="302" height="30"></rect>
                                </g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                            </svg>
                        </a>
                    </div>
                    <div class="u-custom-menu u-nav-container">
                        <ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
                            <li class="u-nav-item">
                                <a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Home.html" style="padding: 20px 0px;">Home</a>
                            </li>
                            <!-- <li class="u-nav-item">
                                <a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Download.html" style="padding: 20px 0px;">Download</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Observations.html" style="padding: 20px 0px;">Observations</a>
                            </li> -->
                            <li class="u-nav-item">
                                <a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Leaderboard.html" style="padding: 20px 0px;">Recommendation</a>
                            </li>
        
                        </ul>
                    </div>
                    <div class="u-custom-menu u-nav-container-collapse">
                        <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                            <div class="u-inner-container-layout u-sidenav-overflow">
                                <div class="u-menu-close"></div>
                                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Home.html">Home</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Download.html">Download</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Observations.html">Observations</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Leaderboard.html">Recommendation</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Contributor.html">Contributor</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="Competition.html">Competition</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                    </div>
                </nav>
                <h6 class="u-text u-text-default u-text-1">
                    <span style="font-size: 1.25rem;">
                        <a href="https://minghsiehece.usc.edu/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" target="_blank">EE547 project</a>
                        <br>
                        <a href="https://minghsiehece.usc.edu/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2" target="_blank">@ University of Southern California</a>
                    </span>
                </h6>
            </div>
        </header>
        <section class="u-align-center u-clearfix u-white u-section-1" id="sec-a5c2">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                <h2 class="u-align-left u-subtitle u-text u-text-default u-text-1">Recommendation</h2>
                <div class="u-expanded-width u-tab-links-align-left u-tabs u-tabs-1">
                    <ul class="u-spacing-10 u-tab-list u-unstyled" role="tablist">
                        <li class="u-tab-item u-tab-item-1" role="presentation">
                            <a class="active u-active-grey-10 u-button-style u-tab-link u-text-active-black u-text-black u-tab-link-1" id="link-tab-f372" href="#tab-f372" role="tab" aria-controls="tab-f372" aria-selected="true">
                                Place you may like
              
                            </a>
                        </li>
                        <li class="u-tab-item u-tab-item-2" role="presentation">
                            <a class="u-active-grey-10 u-button-style u-tab-link u-text-active-black u-text-black u-tab-link-2" id="link-tab-392f" href="#tab-392f" role="tab" aria-controls="tab-392f" aria-selected="false">
                                People you may like
              
                            </a>
                        </li>
                        
                    </ul>
                    <div class="u-tab-content">
                        <div class="u-align-left u-container-style u-grey-10 u-tab-active u-tab-pane u-tab-pane-1" id="tab-f372" role="tabpanel" aria-labelledby="link-tab-f372">
                            <div class="u-container-layout u-container-layout-1">
                                <div class="u-expanded-width u-table u-table-responsive u-table-1">
                                    <table class="u-table-entity">
                                        <colgroup>
                                            <col width="5.8%">
                                            <col width="30.1%">
                                            <col width="12%">
                                            <col width="42.1%">
                                        </colgroup>
                                        <thead class="u-grey-50 u-table-header u-table-header-1">
                                            <tr style="height: 62px;">
                                                <th class="u-border-1 u-border-grey-50 u-table-cell">Rank</th>
                                                <th class="u-border-1 u-border-grey-50 u-table-cell">Name</th>
                                                <!-- <th class="u-border-1 u-border-grey-50 u-table-cell">Locations</th> -->
                                                <th class="u-border-1 u-border-grey-50 u-table-cell">Average Rating</th>
                                                <th class="u-border-1 u-border-grey-50 u-table-cell">Recent visited by</th>
                                            </tr>
                                        </thead>
                                        <tbody class="u-table-body">
                                            <tr style="height: 47px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-5">1</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-6">Yosimite, CA</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">3.6</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">John Cena, Donald Trump, etc</td>
                                            </tr>
                                            <tr style="height: 36px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-9">2</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-10">Park City Mountain Resort, UT</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">3.9</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">Tailor, Hong, etc</td>
                                            </tr>
                                            <tr style="height: 47px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">3</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-14">Telluride Ski Resort, CO</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">4.2</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">Obama, etc</td>
                                            </tr>
                                            <!-- <tr style="height: 32px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">4</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-18">Jackson Hole</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">94.83±0.10</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://proceedings.neurips.cc/paper/2020/file/ea89621bee7c88b2c5be6681c8ef4906-Paper.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-7">Early-Learning Regularization Prevents Memorization of Noisy Labels.</a>
                                                    &nbsp;(<a href="https://github.com/shengliu66/ELR" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-8">Code</a>
                                                    )<br>
                                                </td>
                                            </tr>
                                            <tr style="height: 47px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">5</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-22">PES (semi)</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">94.66±0.18</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/abs/2106.15853" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-9" target="_blank">Understanding and Improving Early Stopping for Learning with Noisy Labels.</a>
                                                    (<a href="https://github.com/tmllab/PES" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-10" target="_blank">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 25px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">6</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-26">ELR</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">92.38±0.64</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://proceedings.neurips.cc/paper/2020/file/ea89621bee7c88b2c5be6681c8ef4906-Paper.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-11">Early-Learning Regularization Prevents Memorization of Noisy Labels.</a>
                                                    &nbsp;(<a href="https://github.com/shengliu66/ELR" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-12">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 25px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">7</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-30">CAL</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">91.97±0.32</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://openaccess.thecvf.com/content/CVPR2021/papers/Zhu_A_Second-Order_Approach_to_Learning_With_Instance-Dependent_Label_Noise_CVPR_2021_paper.pdf" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-13" target="_blank">A Second-Order Approach to Learning with Instance-Dependent Label Noise.</a>
                                                    &nbsp;(<a href="https://github.com/UCSC-REAL/CAL" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-14">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 36px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">8</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-34">Negative-LS</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">91.97±0.46</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/abs/2106.04149" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-15">Understanding Generalized Label Smoothing when Learning with Noisy Labels.</a>
                                                </td>
                                            </tr>
                                            <tr style="height: 31px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">9</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-38">F-div</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">91.64±0.34</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://openreview.net/forum?id=WesiCoRVQ15" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-16">When Optimizing f-Divergence is Robust with Label Noise?</a>
                                                    &nbsp;(<a href="https://github.com/weijiaheng/Robust-f-divergence-measures" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-17">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 32px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">10</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-42">Positive-LS</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">91.57±0.07</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="http://proceedings.mlr.press/v119/lukasik20a.html" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-18">Does Label Smoothing Mitigate Label Noise?</a>
                                                </td>
                                            </tr>
                                            <tr style="height: 25px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">11</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-46">JoCoR</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">91.44±0.05</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/abs/2003.02752" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-19">Combating noisy labels by agreement: A joint training method with co-regularization.</a>
                                                    &nbsp;(<a href="https://github.com/hongxin001/JoCoR" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-20">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 26px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">12</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-50">CORES</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">91.23±0.11</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/pdf/2010.02347.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-21">Learning with Instance-Dependent Label Noise: A Sample Sieve Approach.</a>
                                                    &nbsp;(<a href="https://github.com/UCSC-REAL/cores" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-22">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 25px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">13</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-54">Co-Teaching</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">91.20±0.13</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://proceedings.neurips.cc/paper/2018/file/a19744e268754fb0148b017647355b7b-Paper.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-23">Co-teaching: Robust Training of Deep Neural Networks with Extremely Noisy Labels.</a>
                                                    &nbsp;(<a href="https://github.com/bhanML/Co-teaching" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-24">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 30px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">14</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-58">Peer Loss</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">90.75±0.25</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/abs/1910.03231" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-25">Peer Loss Functions: Learning from Noisy Labels without Knowing Noise Rates.</a>
                                                    &nbsp;(<a href="https://github.com/UCSC-REAL/Multi-class-Peer-Loss-functions" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-26">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 37px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">15</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-62">Co-Teaching+</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">90.61±0.22</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/pdf/1901.04215.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-27">How does Disagreement Help Generalization against Label Corruption?</a>
                                                    &nbsp;(<a href="https://github.com/xingruiyu/coteaching_plus" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-28">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 33px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">16</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-66">VolMinNet</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">89.70±0.21</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://github.com/xuefeng-li1/Provably-end-to-end-label-noise-learning-without-anchor-points" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-29">Provably end-to-end label-noise learning without anchor points.</a>
                                                    &nbsp;(<a href="https://github.com/xuefeng-li1/Provably-end-to-end-label-noise-learning-without-anchor-points" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-30">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 39px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">17</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-70">T-Revision</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">88.52±0.17</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/abs/1906.00189" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-31">Are Anchor Points Really Indispensable in Label-Noise Learning?</a>
                                                    &nbsp;(<a href="https://github.com/xiaoboxia/T-Revision" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-32">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 28px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">18</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-74">Forward-T</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">88.24±0.22</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://openaccess.thecvf.com/content_cvpr_2017/papers/Patrini_Making_Deep_Neural_CVPR_2017_paper.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-33">Making Deep Neural Networks Robust to Label Noise: A Loss Correction Approach.</a>
                                                    &nbsp;(<a href="https://github.com/giorgiop/loss-correction" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-34">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 26px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">19</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-78">Backward-T</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">88.13±0.29</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://openaccess.thecvf.com/content_cvpr_2017/papers/Patrini_Making_Deep_Neural_CVPR_2017_paper.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-35">Making Deep Neural Networks Robust to Label Noise: A Loss Correction Approach.</a>
                                                    &nbsp;(<a href="https://github.com/giorgiop/loss-correction" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-36">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 34px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">20</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-82">GCE</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">87.85±0.70</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/abs/1805.07836" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-37">Generalized Cross Entropy Loss for Training Deep Neural Networks with Noisy Labels.</a>
                                                    &nbsp;(<a href="https://github.com/AlanChou/Truncated-Loss" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-38">Code</a>
                                                    )
                        
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-grey-10 u-tab-pane u-tab-pane-2" id="tab-392f" role="tabpanel" aria-labelledby="link-tab-392f">
                            <div class="u-container-layout u-container-layout-2">
                                <div class="u-expanded-width u-table u-table-responsive u-table-2">
                                    <table class="u-table-entity">
                                        <colgroup>
                                            <col width="5.8%">
                                            <col width="16.1%">
                                            <col width="22%">
                                            <col width="56.1%">
                                        </colgroup>
                                        <thead class="u-grey-50 u-table-header u-table-header-2">
                                            <tr style="height: 62px;">
                                                <th class="u-border-1 u-border-grey-50 u-table-cell">Rank</th>
                                                <th class="u-border-1 u-border-grey-50 u-table-cell">Name</th>
                                                <th class="u-border-1 u-border-grey-50 u-table-cell"># Skiing per month</th>
                                                <th class="u-border-1 u-border-grey-50 u-table-cell">Recent visited</th>
                                            </tr>
                                        </thead>
                                        <tbody class="u-table-body">
                                            <tr style="height: 47px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-93">1</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-94">John M.</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">12</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">Yosimite route 1, Yosimite route 2, etc</td>
                                            </tr>
                                            <tr style="height: 47px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-97">2</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-98">Hong Nguyen</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">4</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">Long Beach</td>
                                            </tr>
                                            <tr style="height: 47px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-101">3</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-102">Michael P.</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">30</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">Hollywood Site</td>
                                            </tr>
                                            <!-- <tr style="height: 36px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-105">4</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-106">CORES*</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">94.45±0.14</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/pdf/2010.02347.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-45">Learning with Instance-Dependent Label Noise: A Sample Sieve Approach.</a>
                                                    &nbsp;(<a href="https://github.com/UCSC-REAL/cores" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-46">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 32px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">5</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-110">ELR+</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">94.43±0.41</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://proceedings.neurips.cc/paper/2020/file/ea89621bee7c88b2c5be6681c8ef4906-Paper.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-47">Early-Learning Regularization Prevents Memorization of Noisy Labels.</a>
                                                    &nbsp;(<a href="https://github.com/shengliu66/ELR" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-48">Code</a>
                                                    )<br>
                                                </td>
                                            </tr>
                                            <tr style="height: 25px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">6</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-114">ELR</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">91.46±0.38</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://proceedings.neurips.cc/paper/2020/file/ea89621bee7c88b2c5be6681c8ef4906-Paper.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-49">Early-Learning Regularization Prevents Memorization of Noisy Labels.</a>
                                                    &nbsp;(<a href="https://github.com/shengliu66/ELR" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-50">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 25px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">7</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-118">CAL</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">90.93±0.31</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://openaccess.thecvf.com/content/CVPR2021/papers/Zhu_A_Second-Order_Approach_to_Learning_With_Instance-Dependent_Label_Noise_CVPR_2021_paper.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-51">A Second-Order Approach to Learning with Instance-Dependent Label Noise.</a>
                                                    &nbsp;(<a href="https://github.com/UCSC-REAL/CAL" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-52">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 36px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">8</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-122">Co-Teaching</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">90.33±0.13</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://proceedings.neurips.cc/paper/2018/file/a19744e268754fb0148b017647355b7b-Paper.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-53">Co-teaching: Robust Training of Deep Neural Networks with Extremely Noisy Labels.</a>
                                                    &nbsp;(<a href="https://github.com/bhanML/Co-teaching" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-54">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 31px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">9</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-126">JoCoR</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">90.30±0.20</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/abs/2003.02752" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-55">Combating noisy labels by agreement: A joint training method with co-regularization.</a>
                                                    &nbsp;(<a href="https://github.com/hongxin001/JoCoR" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-56">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 32px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">10</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-130">Negative-LS</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">90.29±0.32</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/abs/2106.04149" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-57">Understanding Generalized Label Smoothing when Learning with Noisy Labels.</a>
                                                </td>
                                            </tr>
                                            <tr style="height: 26px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">11</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-134">Positive-LS</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">89.80±0.28</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="http://proceedings.mlr.press/v119/lukasik20a.html" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-58">Does Label Smoothing Mitigate Label Noise?</a>
                                                </td>
                                            </tr>
                                            <tr style="height: 25px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">12</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-138">Co-Teaching+</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">89.70±0.27</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/pdf/1901.04215.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-59">How does Disagreement Help Generalization against Label Corruption?</a>
                                                    &nbsp;(<a href="https://github.com/xingruiyu/coteaching_plus" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-60">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 30px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">13</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-142">F-div</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">89.70±0.40</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://openreview.net/forum?id=WesiCoRVQ15" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-61">When Optimizing f-Divergence is Robust with Label Noise?</a>
                                                    &nbsp;(<a href="https://github.com/weijiaheng/Robust-f-divergence-measures" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-62">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 37px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">14</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-146">CORES</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">89.66±0.32</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/pdf/2010.02347.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-63">Learning with Instance-Dependent Label Noise: A Sample Sieve Approach.</a>
                                                    &nbsp;(<a href="https://github.com/UCSC-REAL/cores" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-64">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 33px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">15</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-150">Peer Loss</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">89.06±0.11</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/abs/1910.03231" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-65">Peer Loss Functions: Learning from Noisy Labels without Knowing Noise Rates.</a>
                                                    &nbsp;(<a href="https://github.com/UCSC-REAL/Multi-class-Peer-Loss-functions" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-66">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 47px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">16</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-154">NVRM</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">89.00±0.05</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/pdf/2011.06220.pdf" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-67" target="_blank">Artificial Neural Variability for Deep Learning: On Overfitting, Noise Memorization, and Catastrophic Forgetting</a>
                                                    . (<a href="https://github.com/zeke-xie/artificial-neural-variability-for-deep-learning" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-68" target="_blank">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 39px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">17</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-158">T-Revision</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">88.33±0.32</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/abs/1906.00189" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-69">Are Anchor Points Really Indispensable in Label-Noise Learning?</a>
                                                    &nbsp;(<a href="https://github.com/xiaoboxia/T-Revision" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-70">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 28px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">18</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-162">VolMinNet</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">88.30±0.12</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://github.com/xuefeng-li1/Provably-end-to-end-label-noise-learning-without-anchor-points" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-71">Provably end-to-end label-noise learning without anchor points.</a>
                                                    &nbsp;(<a href="https://github.com/xuefeng-li1/Provably-end-to-end-label-noise-learning-without-anchor-points" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-72">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 26px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">19</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-166">GCE</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">87.61±0.28</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://arxiv.org/abs/1805.07836" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-73">Generalized Cross Entropy Loss for Training Deep Neural Networks with Noisy Labels.</a>
                                                    &nbsp;(<a href="https://github.com/AlanChou/Truncated-Loss" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-74">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 34px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">20</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-170">Backward-T</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">87.14±0.34</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://openaccess.thecvf.com/content_cvpr_2017/papers/Patrini_Making_Deep_Neural_CVPR_2017_paper.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-75">Making Deep Neural Networks Robust to Label Noise: A Loss Correction Approach.</a>
                                                    &nbsp;(<a href="https://github.com/giorgiop/loss-correction" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-76">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 25px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">21</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-174">Forward-T</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">86.88±0.50</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">
                                                    <a href="https://openaccess.thecvf.com/content_cvpr_2017/papers/Patrini_Making_Deep_Neural_CVPR_2017_paper.pdf" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-77">Making Deep Neural Networks Robust to Label Noise: A Loss Correction Approach.</a>
                                                    &nbsp;(<a href="https://github.com/giorgiop/loss-correction" target="_blank" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-78">Code</a>
                                                    )
                        
                                                </td>
                                            </tr>
                                            <tr style="height: 36px;">
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">22</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell u-table-cell-178">CE</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell">85.02±0.65</td>
                                                <td class="u-border-2 u-border-black u-border-no-left u-border-no-right u-table-cell"></td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="u-clearfix u-white u-section-2" id="sec-e50a">
            <div class="u-clearfix u-sheet u-sheet-1">
                <h2 class="u-subtitle u-text u-text-1">Contact</h2>
                <p class="u-text u-text-2">
                    Please contact us via &nbsp;
                    <a href="mailto:hongn@usc.com" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">
                        {hongn}@usc.edu<span class="u-text-body-color">，</span>
                    </a>
                </p>
            </div>
        </section>
        <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-0d95">
            <div class="u-clearfix u-sheet u-sheet-1">
                <p class="u-small-text u-text u-text-variant u-text-1">
                    @ University of Southern California
        
                </p>
            </div>
        </footer>
    </body>
</html>
